                     *{margin: 0px auto;padding: 0px;}
        

                     .footer{width:1340px;background-color:black;height:250px; font-family: '微软雅黑';}
                     .footer-left{width: 500px;float: left;color: #808080;margin: 20px;position: relative;left: 50px;top:9px;}
                     .footer-left a img{width: 60px;height: 60px;position: relative;left: -15px;}
                   
                     .footer-left h1{font-size:120px;}
                     .footer-left h1{font-size:50px;}
                     

                     .footer-right{float:left;width: 720px;color: #808080;margin-top: 40px;}
                     .footer-right h3{font-size:28px;}
                     .footer-right div{padding: 15px}
                     .footer-right p{margin-top: 5px;}

                     .about{float: left;border-right:1px solid #505050;border-left:1px solid #505050; }
                     .after{float: left;border-right:1px solid #505050; }
                     .friend{float: left;border-right:1px solid #505050; }

                     .certification{float: left;width:230px;font-size:10px;margin-top: 15px;margin-left: 5px; }
                     .footer-right a{text-decoration: none;color: #505050 }
                     .footer-right a:hover{text-decoration: none;color: gold; }