
  .bikelist{position: relative;left: 100px;}
  .bikelist tr td{margin: 25px;padding: 15px;border:solid thin #C0C0C0;overflow: hidden;}
 
  .cartbutton{  background-size:7px 8px;
         border:5px solid #ffcc33;
         border-radius: 4px;
        background-color: #ffcc33;
       -webkit-border-radius:4px;
       
        margin-left: 30px;
        margin-top: 5px;
    }
  .cartbutton:hover{  background-size:7px 8px;
         border:5px solid yellow;
        border-radius: 4px;
        background-color: yellow;
       -webkit-border-radius:4px;
       margin-left: 30px;
        margin-top: 5px;
    }
   .purchase{  
         background-color:  #303030;
           border:5px solid  #303030;
         border-radius: 4px;-webkit-border-radius:4px;
         color:white;
         margin-left: 10px;
         margin-top: 5px;
    } 
    .purchase:hover{  
           border:5px solid tomato;
           border-radius: 4px;-webkit-border-radius:4px;
           
           background-color: tomato ;
          
    }
   .original-price{color: gray; text-decoration:line-through; font-size:4px;margin-left: 5px;}
   
    .filtertitle{font-family: "Microsoft Yahei" ;padding: 20px; color: #707070;}
    .filterBox{padding-left: 40px;}
    .filterBox a,dt{font-family: "Microsoft Yahei" }
    .filterBox dt{background-color: #FF6600;width: 40px;border-radius: 3px;text-align: center;float: left;margin-right: 3px; color:white; }
    .filterBox dd a{background-color:#707070;width: 55px;border-radius: 2px;text-align: center;color: white;margin: 2px;padding: 1px;}
    .filterBox dd a:hover{background-color:#FF6600;}
    .filterBox dd a:active{background-color:#FF6600;}

    .bikelist{position: relative;left: 17px;top:-25px;}